$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

.container-fluid {
	max-width: 1440px;
	padding-right: 30px;
	padding-left: 30px;
}

/* hero background video */
.vimeo-wrapper {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
}

.vimeo-wrapper iframe {
	position: absolute;
  width: 100vw;
  height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* hero content */
.heroContainer {
	position: absolute;
	z-index: 1;
	width: 100%;
  height: 100%;
}

