$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: "Brandon Grotesque",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  font-weight: 500;
}

@font-face {
  font-family: 'BrandonGrotesque';
  src: url('../webfonts/BrandonGrotesque-Bold.eot');
  src: url('../webfonts/BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/BrandonGrotesque-Bold.woff2') format('woff2'),
       url('../webfonts/BrandonGrotesque-Bold.woff') format('woff'),
       url('../webfonts/BrandonGrotesque-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../webfonts/BrandonGrotesque-Medium.eot');
  src: url('../webfonts/BrandonGrotesque-Medium.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/BrandonGrotesque-Medium.woff2') format('woff2'),
       url('../webfonts/BrandonGrotesque-Medium.woff') format('woff'),
       url('../webfonts/BrandonGrotesque-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../webfonts/BrandonGrotesque-Light.eot');
  src: url('../webfonts/BrandonGrotesque-Light.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/BrandonGrotesque-Light.woff2') format('woff2'),
       url('../webfonts/BrandonGrotesque-Light.woff') format('woff'),
       url('../webfonts/BrandonGrotesque-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

.container-fluid {
	max-width: 1440px;
	padding-right: 30px;
	padding-left: 30px;
}

/* hero background video */
.vimeo-wrapper {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
}

.vimeo-wrapper iframe {
	position: absolute;
  width: 100vw;
  height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* hero content */
.heroContainer {
	position: absolute;
	z-index: 1;
	width: 100%;
  height: 100%;
}

.circle {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 0;
  padding: 50% 0;
  border-radius: 50%;
  color: #ffffff;
  background: #da8c67;
  background: url('../images/circle-bg.png') no-repeat; 
  background-attachment: absolute;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bottom {
  bottom: 0;
}

/* buttons */
a.btn-outline-primary {
  border-radius: 100rem;
  padding: .5rem 1rem;
  color: #732908;
  box-shadow: 0 0 3px 0 rgba(157, 96, 212, 0.5);
  border: solid 2px transparent;
  background-image: linear-gradient(rgba(242, 115, 62, 0), rgba(114, 40, 7, 0)), linear-gradient(101deg, #f2733d, #732908);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
}

a.btn-outline-primary:hover {
  box-shadow: none;
  color: white;
  border: solid 2px transparent;
  background-image: linear-gradient(rgba(242, 115, 62, 0), rgba(114, 40, 7, 0)), linear-gradient(101deg, #f2733d, #732908);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

/* colors */
.copper {
  color: #9e421c;
}

.gradient-text {
  color: #f2733d;
  /* standard gradient background */
  background: linear-gradient(101deg, #f2733d, #732908);
  /* clip hackery */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-bg {
  background-color: #f2733d;
  background-image: linear-gradient(rgba(242, 115, 62, 0), rgba(114, 40, 7, 0)), linear-gradient(101deg, #f2733d, #732908);
}

/* hr tag */
hr {
  height: 7px;
  width: 85px;
  border: 0;
  border-radius: 2px;
}

/* backgroud images */
#beau_bg {
  background: url('../images/beau-bg.png') no-repeat; 
  background-position: center center;
  background-attachment: absolute; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}












